<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yongyou.iSupport.dao.IsSDweekplaneHDao" >
  <resultMap id="BaseResultMap" type="com.yongyou.iSupport.entity.IsSDweekplaneH" >
    <id column="pk_dweekplane_h" property="pkDweekplaneH" jdbcType="INTEGER" />
    <result column="projectname" property="projectname" jdbcType="VARCHAR" />
    <result column="pk_project" property="pkProject" jdbcType="INTEGER" />
    <result column="corpname" property="corpname" jdbcType="VARCHAR" />
    <result column="filldate" property="filldate" jdbcType="TIMESTAMP" />
    <result column="pk_mianplane" property="pkMianplane" jdbcType="INTEGER" />
    <result column="planestartdate" property="planestartdate" jdbcType="TIMESTAMP" />
    <result column="planefinishdate" property="planefinishdate" jdbcType="TIMESTAMP" />
    <result column="startprojectdate" property="startprojectdate" jdbcType="TIMESTAMP" />
    <result column="projectmanager" property="projectmanager" jdbcType="VARCHAR" />
    <result column="projectmanagerdaytime" property="projectmanagerdaytime" jdbcType="VARCHAR" />
    <result column="impconsultant" property="impconsultant" jdbcType="VARCHAR" />
    <result column="impconsultantdaytime" property="impconsultantdaytime" jdbcType="VARCHAR" />
    <result column="devconsultant" property="devconsultant" jdbcType="VARCHAR" />
    <result column="devconsultantdaytime" property="devconsultantdaytime" jdbcType="VARCHAR" />
    <result column="planesumdaytime" property="planesumdaytime" jdbcType="VARCHAR" />
    <result column="sumdaytime" property="sumdaytime" jdbcType="VARCHAR" />
    <result column="stagein" property="stagein" jdbcType="VARCHAR" />
    <result column="yiprojectmanager" property="yiprojectmanager" jdbcType="VARCHAR" />
    <result column="radio" property="radio" jdbcType="VARCHAR" />
    <result column="lagdays" property="lagdays" jdbcType="VARCHAR" />
    <result column="riskwarning" property="riskwarning" jdbcType="VARCHAR" />
    <result column="proplstarttime" property="proplstarttime" jdbcType="TIMESTAMP" />
    <result column="proplstatus" property="proplstatus" jdbcType="VARCHAR" />
    <result column="bpdesignstarttime" property="bpdesignstarttime" jdbcType="TIMESTAMP" />
    <result column="bpdesignstatus" property="bpdesignstatus" jdbcType="VARCHAR" />
    <result column="sysbuildstarttime" property="sysbuildstarttime" jdbcType="TIMESTAMP" />
    <result column="sysbuildstatus" property="sysbuildstatus" jdbcType="VARCHAR" />
    <result column="onlineswitchstarttime" property="onlineswitchstarttime" jdbcType="TIMESTAMP" />
    <result column="onlineswitchstatus" property="onlineswitchstatus" jdbcType="VARCHAR" />
    <result column="susupportstarttime" property="susupportstarttime" jdbcType="TIMESTAMP" />
    <result column="susupportstatus" property="susupportstatus" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    pk_dweekplane_h, projectname, pk_project, corpname, filldate, pk_mianplane, planestartdate, 
    planefinishdate, startprojectdate, projectmanager, projectmanagerdaytime, impconsultant, 
    impconsultantdaytime, devconsultant, devconsultantdaytime, planesumdaytime, sumdaytime, 
    stagein, yiprojectmanager, radio, lagdays, riskwarning, proplstarttime, proplstatus, 
    bpdesignstarttime, bpdesignstatus, sysbuildstarttime, sysbuildstatus, onlineswitchstarttime, 
    onlineswitchstatus, susupportstarttime, susupportstatus
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from is_s_dweekplane_h
    where pk_dweekplane_h = #{pkDweekplaneH,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from is_s_dweekplane_h
    where pk_dweekplane_h = #{pkDweekplaneH,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yongyou.iSupport.entity.IsSDweekplaneH" useGeneratedKeys="true" keyProperty="pkDweekplaneH">
    insert into is_s_dweekplane_h (pk_dweekplane_h, projectname, pk_project, 
      corpname, filldate, pk_mianplane, 
      planestartdate, planefinishdate, startprojectdate, 
      projectmanager, projectmanagerdaytime, 
      impconsultant, impconsultantdaytime, devconsultant, 
      devconsultantdaytime, planesumdaytime, 
      sumdaytime, stagein, yiprojectmanager, 
      radio, lagdays, riskwarning, 
      proplstarttime, proplstatus, bpdesignstarttime, 
      bpdesignstatus, sysbuildstarttime, sysbuildstatus, 
      onlineswitchstarttime, onlineswitchstatus, 
      susupportstarttime, susupportstatus)
    values (#{pkDweekplaneH,jdbcType=INTEGER}, #{projectname,jdbcType=VARCHAR}, #{pkProject,jdbcType=INTEGER}, 
      #{corpname,jdbcType=VARCHAR}, #{filldate,jdbcType=TIMESTAMP}, #{pkMianplane,jdbcType=INTEGER}, 
      #{planestartdate,jdbcType=TIMESTAMP}, #{planefinishdate,jdbcType=TIMESTAMP}, #{startprojectdate,jdbcType=TIMESTAMP}, 
      #{projectmanager,jdbcType=VARCHAR}, #{projectmanagerdaytime,jdbcType=VARCHAR}, 
      #{impconsultant,jdbcType=VARCHAR}, #{impconsultantdaytime,jdbcType=VARCHAR}, #{devconsultant,jdbcType=VARCHAR}, 
      #{devconsultantdaytime,jdbcType=VARCHAR}, #{planesumdaytime,jdbcType=VARCHAR}, 
      #{sumdaytime,jdbcType=VARCHAR}, #{stagein,jdbcType=VARCHAR}, #{yiprojectmanager,jdbcType=VARCHAR}, 
      #{radio,jdbcType=VARCHAR}, #{lagdays,jdbcType=VARCHAR}, #{riskwarning,jdbcType=VARCHAR}, 
      #{proplstarttime,jdbcType=TIMESTAMP}, #{proplstatus,jdbcType=VARCHAR}, #{bpdesignstarttime,jdbcType=TIMESTAMP}, 
      #{bpdesignstatus,jdbcType=VARCHAR}, #{sysbuildstarttime,jdbcType=TIMESTAMP}, #{sysbuildstatus,jdbcType=VARCHAR}, 
      #{onlineswitchstarttime,jdbcType=TIMESTAMP}, #{onlineswitchstatus,jdbcType=VARCHAR}, 
      #{susupportstarttime,jdbcType=TIMESTAMP}, #{susupportstatus,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.yongyou.iSupport.entity.IsSDweekplaneH" >
    update is_s_dweekplane_h
    set projectname = #{projectname,jdbcType=VARCHAR},
      pk_project = #{pkProject,jdbcType=INTEGER},
      corpname = #{corpname,jdbcType=VARCHAR},
      filldate = #{filldate,jdbcType=TIMESTAMP},
      pk_mianplane = #{pkMianplane,jdbcType=INTEGER},
      planestartdate = #{planestartdate,jdbcType=TIMESTAMP},
      planefinishdate = #{planefinishdate,jdbcType=TIMESTAMP},
      startprojectdate = #{startprojectdate,jdbcType=TIMESTAMP},
      projectmanager = #{projectmanager,jdbcType=VARCHAR},
      projectmanagerdaytime = #{projectmanagerdaytime,jdbcType=VARCHAR},
      impconsultant = #{impconsultant,jdbcType=VARCHAR},
      impconsultantdaytime = #{impconsultantdaytime,jdbcType=VARCHAR},
      devconsultant = #{devconsultant,jdbcType=VARCHAR},
      devconsultantdaytime = #{devconsultantdaytime,jdbcType=VARCHAR},
      planesumdaytime = #{planesumdaytime,jdbcType=VARCHAR},
      sumdaytime = #{sumdaytime,jdbcType=VARCHAR},
      stagein = #{stagein,jdbcType=VARCHAR},
      yiprojectmanager = #{yiprojectmanager,jdbcType=VARCHAR},
      radio = #{radio,jdbcType=VARCHAR},
      lagdays = #{lagdays,jdbcType=VARCHAR},
      riskwarning = #{riskwarning,jdbcType=VARCHAR},
      proplstarttime = #{proplstarttime,jdbcType=TIMESTAMP},
      proplstatus = #{proplstatus,jdbcType=VARCHAR},
      bpdesignstarttime = #{bpdesignstarttime,jdbcType=TIMESTAMP},
      bpdesignstatus = #{bpdesignstatus,jdbcType=VARCHAR},
      sysbuildstarttime = #{sysbuildstarttime,jdbcType=TIMESTAMP},
      sysbuildstatus = #{sysbuildstatus,jdbcType=VARCHAR},
      onlineswitchstarttime = #{onlineswitchstarttime,jdbcType=TIMESTAMP},
      onlineswitchstatus = #{onlineswitchstatus,jdbcType=VARCHAR},
      susupportstarttime = #{susupportstarttime,jdbcType=TIMESTAMP},
      susupportstatus = #{susupportstatus,jdbcType=VARCHAR}
    where pk_dweekplane_h = #{pkDweekplaneH,jdbcType=INTEGER}
  </update>
  
  
  <select id="findList" resultMap="BaseResultMap" parameterType="com.yongyou.iSupport.entity.IsSDweekplaneH">
		SELECT
		<include refid="Base_Column_List" />
		FROM is_s_dweekplane_h
		<where>
			<if test=" projectname != null and  projectname != '' ">
				AND projectname LIKE
				concat('%',#{projectname},'%')
			</if>
			<if test=" pkProject!= null">
				AND pk_project=#{pkProject}
			</if>
			<if test=" corpname != null and  corpname != '' ">
				AND corpname LIKE
				concat('%',#{corpname},'%')
			</if>
			<if test=" filldate != null and  filldate != '' ">
				AND filldate LIKE
				concat('%',#{filldate},'%')
			</if>
			<if test=" pkMianplane!= null">
				AND pk_mianplane=#{pkMianplane}
			</if>
			<if test=" planestartdate != null and  planestartdate != '' ">
				AND planestartdate LIKE
				concat('%',#{planestartdate},'%')
			</if>
			<if test=" planefinishdate != null and  planefinishdate != '' ">
				AND planefinishdate LIKE
				concat('%',#{planefinishdate},'%')
			</if>
			<if test=" startprojectdate != null and  startprojectdate != '' ">
				AND startprojectdate LIKE
				concat('%',#{startprojectdate},'%')
			</if>
			<if test=" projectmanager != null and  projectmanager != '' ">
				AND projectmanager LIKE
				concat('%',#{projectmanager},'%')
			</if>
			<if test=" projectmanagerdaytime != null and  projectmanagerdaytime != '' ">
				AND projectmanagerdaytime LIKE
				concat('%',#{projectmanagerdaytime},'%')
			</if>
			<if test=" impconsultant != null and  impconsultant != '' ">
				AND impconsultant LIKE
				concat('%',#{impconsultant},'%')
			</if>
			<if test=" impconsultantdaytime != null and  impconsultantdaytime != '' ">
				AND impconsultantdaytime LIKE
				concat('%',#{impconsultantdaytime},'%')
			</if>
			<if test=" devconsultant != null and  devconsultant != '' ">
				AND devconsultant LIKE
				concat('%',#{devconsultant},'%')
			</if>
			<if test=" devconsultantdaytime != null and  devconsultantdaytime != '' ">
				AND devconsultantdaytime LIKE
				concat('%',#{devconsultantdaytime},'%')
			</if>
		</where>
	</select>
</mapper>