<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yongyou.iSupport.dao.IsSDweekplaneWDao">
  <resultMap id="BaseResultMap" type="com.yongyou.iSupport.entity.IsSDweekplaneW">
    <id column="pk_s_dweekplane_w" jdbcType="INTEGER" property="pkSDweekplaneW" />
    <result column="pk_s_dweekplane_h" jdbcType="INTEGER" property="pkSDweekplaneH" />
    <result column="notfinishtask" jdbcType="VARCHAR" property="notfinishtask" />
    <result column="personliable" jdbcType="VARCHAR" property="personliable" />
    <result column="notfinishreason" jdbcType="VARCHAR" property="notfinishreason" />
    <result column="concretemeasure" jdbcType="VARCHAR" property="concretemeasure" />
  </resultMap>
  <sql id="Base_Column_List">
    pk_s_dweekplane_w, pk_s_dweekplane_h, notfinishtask, personliable, notfinishreason, 
    concretemeasure
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from is_s_dweekplane_w
    where pk_s_dweekplane_w = #{pkSDweekplaneW,jdbcType=INTEGER}
  </select>
  
  <select id="selectByHeadKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from is_s_dweekplane_w
    where pk_s_dweekplane_h = #{pkSDweekplaneH,jdbcType=INTEGER}
   </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from is_s_dweekplane_w
    where pk_s_dweekplane_w = #{pkSDweekplaneW,jdbcType=INTEGER}
  </delete>
  
<!--   	根据主表id删除数据 -->
   <delete id="deleteByHeadKey" parameterType="java.lang.Integer">
    delete from is_s_dweekplane_w
    where pk_s_dweekplane_h = #{pkSDweekplaneH,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.yongyou.iSupport.entity.IsSDweekplaneW">
    insert into is_s_dweekplane_w (pk_s_dweekplane_w, pk_s_dweekplane_h, notfinishtask, 
      personliable, notfinishreason, concretemeasure
      )
    values (#{pkSDweekplaneW,jdbcType=INTEGER}, #{pkSDweekplaneH,jdbcType=INTEGER}, #{notfinishtask,jdbcType=VARCHAR}, 
      #{personliable,jdbcType=VARCHAR}, #{notfinishreason,jdbcType=VARCHAR}, #{concretemeasure,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.yongyou.iSupport.entity.IsSDweekplaneW">
    update is_s_dweekplane_w
    set pk_s_dweekplane_h = #{pkSDweekplaneH,jdbcType=INTEGER},
      notfinishtask = #{notfinishtask,jdbcType=VARCHAR},
      personliable = #{personliable,jdbcType=VARCHAR},
      notfinishreason = #{notfinishreason,jdbcType=VARCHAR},
      concretemeasure = #{concretemeasure,jdbcType=VARCHAR}
    where pk_s_dweekplane_w = #{pkSDweekplaneW,jdbcType=INTEGER}
  </update>
</mapper>