<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yongyou.iSupport.dao.IsSDweekplaneTDao">
  <resultMap id="BaseResultMap" type="com.yongyou.iSupport.entity.IsSDweekplaneT">
    <id column="pk_s_dweekplane_t" jdbcType="INTEGER" property="pkSDweekplaneT" />
    <result column="pk_s_dweekplane_h" jdbcType="INTEGER" property="pkSDweekplaneH" />
    <result column="weekstartdate" jdbcType="TIMESTAMP" property="weekstartdate" />
    <result column="weekfinishdate" jdbcType="TIMESTAMP" property="weekfinishdate" />
    <result column="weekworktask" jdbcType="VARCHAR" property="weekworktask" />
    <result column="weekpersonliable" jdbcType="VARCHAR" property="weekpersonliable" />
    <result column="weekworkstarttime" jdbcType="TIMESTAMP" property="weekworkstarttime" />
    <result column="weekworkfinishtime" jdbcType="TIMESTAMP" property="weekworkfinishtime" />
    <result column="weekworkexplain" jdbcType="VARCHAR" property="weekworkexplain" />
  </resultMap>
  <sql id="Base_Column_List">
    pk_s_dweekplane_t, pk_s_dweekplane_h, weekstartdate, weekfinishdate, weekworktask, 
    weekpersonliable, weekworkstarttime, weekworkfinishtime, weekworkexplain
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from is_s_dweekplane_t
    where pk_s_dweekplane_t = #{pkSDweekplaneT,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from is_s_dweekplane_t
    where pk_s_dweekplane_t = #{pkSDweekplaneT,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yongyou.iSupport.entity.IsSDweekplaneT">
    insert into is_s_dweekplane_t (pk_s_dweekplane_t, pk_s_dweekplane_h, weekstartdate, 
      weekfinishdate, weekworktask, weekpersonliable, 
      weekworkstarttime, weekworkfinishtime, 
      weekworkexplain)
    values (#{pkSDweekplaneT,jdbcType=INTEGER}, #{pkSDweekplaneH,jdbcType=INTEGER}, #{weekstartdate,jdbcType=TIMESTAMP}, 
      #{weekfinishdate,jdbcType=TIMESTAMP}, #{weekworktask,jdbcType=VARCHAR}, #{weekpersonliable,jdbcType=VARCHAR}, 
      #{weekworkstarttime,jdbcType=TIMESTAMP}, #{weekworkfinishtime,jdbcType=TIMESTAMP}, 
      #{weekworkexplain,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yongyou.iSupport.entity.IsSDweekplaneT">
    insert into is_s_dweekplane_t
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pkSDweekplaneT != null">
        pk_s_dweekplane_t,
      </if>
      <if test="pkSDweekplaneH != null">
        pk_s_dweekplane_h,
      </if>
      <if test="weekstartdate != null">
        weekstartdate,
      </if>
      <if test="weekfinishdate != null">
        weekfinishdate,
      </if>
      <if test="weekworktask != null">
        weekworktask,
      </if>
      <if test="weekpersonliable != null">
        weekpersonliable,
      </if>
      <if test="weekworkstarttime != null">
        weekworkstarttime,
      </if>
      <if test="weekworkfinishtime != null">
        weekworkfinishtime,
      </if>
      <if test="weekworkexplain != null">
        weekworkexplain,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pkSDweekplaneT != null">
        #{pkSDweekplaneT,jdbcType=INTEGER},
      </if>
      <if test="pkSDweekplaneH != null">
        #{pkSDweekplaneH,jdbcType=INTEGER},
      </if>
      <if test="weekstartdate != null">
        #{weekstartdate,jdbcType=TIMESTAMP},
      </if>
      <if test="weekfinishdate != null">
        #{weekfinishdate,jdbcType=TIMESTAMP},
      </if>
      <if test="weekworktask != null">
        #{weekworktask,jdbcType=VARCHAR},
      </if>
      <if test="weekpersonliable != null">
        #{weekpersonliable,jdbcType=VARCHAR},
      </if>
      <if test="weekworkstarttime != null">
        #{weekworkstarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="weekworkfinishtime != null">
        #{weekworkfinishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="weekworkexplain != null">
        #{weekworkexplain,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yongyou.iSupport.entity.IsSDweekplaneT">
    update is_s_dweekplane_t
    <set>
      <if test="pkSDweekplaneH != null">
        pk_s_dweekplane_h = #{pkSDweekplaneH,jdbcType=INTEGER},
      </if>
      <if test="weekstartdate != null">
        weekstartdate = #{weekstartdate,jdbcType=TIMESTAMP},
      </if>
      <if test="weekfinishdate != null">
        weekfinishdate = #{weekfinishdate,jdbcType=TIMESTAMP},
      </if>
      <if test="weekworktask != null">
        weekworktask = #{weekworktask,jdbcType=VARCHAR},
      </if>
      <if test="weekpersonliable != null">
        weekpersonliable = #{weekpersonliable,jdbcType=VARCHAR},
      </if>
      <if test="weekworkstarttime != null">
        weekworkstarttime = #{weekworkstarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="weekworkfinishtime != null">
        weekworkfinishtime = #{weekworkfinishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="weekworkexplain != null">
        weekworkexplain = #{weekworkexplain,jdbcType=VARCHAR},
      </if>
    </set>
    where pk_s_dweekplane_t = #{pkSDweekplaneT,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yongyou.iSupport.entity.IsSDweekplaneT">
    update is_s_dweekplane_t
    set pk_s_dweekplane_h = #{pkSDweekplaneH,jdbcType=INTEGER},
      weekstartdate = #{weekstartdate,jdbcType=TIMESTAMP},
      weekfinishdate = #{weekfinishdate,jdbcType=TIMESTAMP},
      weekworktask = #{weekworktask,jdbcType=VARCHAR},
      weekpersonliable = #{weekpersonliable,jdbcType=VARCHAR},
      weekworkstarttime = #{weekworkstarttime,jdbcType=TIMESTAMP},
      weekworkfinishtime = #{weekworkfinishtime,jdbcType=TIMESTAMP},
      weekworkexplain = #{weekworkexplain,jdbcType=VARCHAR}
    where pk_s_dweekplane_t = #{pkSDweekplaneT,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.yongyou.iSupport.entity.IsSDweekplaneT">
    <id column="pk_s_dweekplane_t" jdbcType="INTEGER" property="pkSDweekplaneT" />
    <result column="pk_s_dweekplane_h" jdbcType="INTEGER" property="pkSDweekplaneH" />
    <result column="weekstartdate" jdbcType="TIMESTAMP" property="weekstartdate" />
    <result column="weekfinishdate" jdbcType="TIMESTAMP" property="weekfinishdate" />
    <result column="weekworktask" jdbcType="VARCHAR" property="weekworktask" />
    <result column="weekpersonliable" jdbcType="VARCHAR" property="weekpersonliable" />
    <result column="weekworkstarttime" jdbcType="TIMESTAMP" property="weekworkstarttime" />
    <result column="weekworkfinishtime" jdbcType="TIMESTAMP" property="weekworkfinishtime" />
    <result column="weekworkexplain" jdbcType="VARCHAR" property="weekworkexplain" />
  </resultMap>
  <sql id="Base_Column_List">
    pk_s_dweekplane_t, pk_s_dweekplane_h, weekstartdate, weekfinishdate, weekworktask, 
    weekpersonliable, weekworkstarttime, weekworkfinishtime, weekworkexplain
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from is_s_dweekplane_t
    where pk_s_dweekplane_t = #{pkSDweekplaneT,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from is_s_dweekplane_t
    where pk_s_dweekplane_t = #{pkSDweekplaneT,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yongyou.iSupport.entity.IsSDweekplaneT">
    insert into is_s_dweekplane_t (pk_s_dweekplane_t, pk_s_dweekplane_h, weekstartdate, 
      weekfinishdate, weekworktask, weekpersonliable, 
      weekworkstarttime, weekworkfinishtime, 
      weekworkexplain)
    values (#{pkSDweekplaneT,jdbcType=INTEGER}, #{pkSDweekplaneH,jdbcType=INTEGER}, #{weekstartdate,jdbcType=TIMESTAMP}, 
      #{weekfinishdate,jdbcType=TIMESTAMP}, #{weekworktask,jdbcType=VARCHAR}, #{weekpersonliable,jdbcType=VARCHAR}, 
      #{weekworkstarttime,jdbcType=TIMESTAMP}, #{weekworkfinishtime,jdbcType=TIMESTAMP}, 
      #{weekworkexplain,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yongyou.iSupport.entity.IsSDweekplaneT">
    insert into is_s_dweekplane_t
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pkSDweekplaneT != null">
        pk_s_dweekplane_t,
      </if>
      <if test="pkSDweekplaneH != null">
        pk_s_dweekplane_h,
      </if>
      <if test="weekstartdate != null">
        weekstartdate,
      </if>
      <if test="weekfinishdate != null">
        weekfinishdate,
      </if>
      <if test="weekworktask != null">
        weekworktask,
      </if>
      <if test="weekpersonliable != null">
        weekpersonliable,
      </if>
      <if test="weekworkstarttime != null">
        weekworkstarttime,
      </if>
      <if test="weekworkfinishtime != null">
        weekworkfinishtime,
      </if>
      <if test="weekworkexplain != null">
        weekworkexplain,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pkSDweekplaneT != null">
        #{pkSDweekplaneT,jdbcType=INTEGER},
      </if>
      <if test="pkSDweekplaneH != null">
        #{pkSDweekplaneH,jdbcType=INTEGER},
      </if>
      <if test="weekstartdate != null">
        #{weekstartdate,jdbcType=TIMESTAMP},
      </if>
      <if test="weekfinishdate != null">
        #{weekfinishdate,jdbcType=TIMESTAMP},
      </if>
      <if test="weekworktask != null">
        #{weekworktask,jdbcType=VARCHAR},
      </if>
      <if test="weekpersonliable != null">
        #{weekpersonliable,jdbcType=VARCHAR},
      </if>
      <if test="weekworkstarttime != null">
        #{weekworkstarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="weekworkfinishtime != null">
        #{weekworkfinishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="weekworkexplain != null">
        #{weekworkexplain,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yongyou.iSupport.entity.IsSDweekplaneT">
    update is_s_dweekplane_t
    <set>
      <if test="pkSDweekplaneH != null">
        pk_s_dweekplane_h = #{pkSDweekplaneH,jdbcType=INTEGER},
      </if>
      <if test="weekstartdate != null">
        weekstartdate = #{weekstartdate,jdbcType=TIMESTAMP},
      </if>
      <if test="weekfinishdate != null">
        weekfinishdate = #{weekfinishdate,jdbcType=TIMESTAMP},
      </if>
      <if test="weekworktask != null">
        weekworktask = #{weekworktask,jdbcType=VARCHAR},
      </if>
      <if test="weekpersonliable != null">
        weekpersonliable = #{weekpersonliable,jdbcType=VARCHAR},
      </if>
      <if test="weekworkstarttime != null">
        weekworkstarttime = #{weekworkstarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="weekworkfinishtime != null">
        weekworkfinishtime = #{weekworkfinishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="weekworkexplain != null">
        weekworkexplain = #{weekworkexplain,jdbcType=VARCHAR},
      </if>
    </set>
    where pk_s_dweekplane_t = #{pkSDweekplaneT,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yongyou.iSupport.entity.IsSDweekplaneT">
    update is_s_dweekplane_t
    set pk_s_dweekplane_h = #{pkSDweekplaneH,jdbcType=INTEGER},
      weekstartdate = #{weekstartdate,jdbcType=TIMESTAMP},
      weekfinishdate = #{weekfinishdate,jdbcType=TIMESTAMP},
      weekworktask = #{weekworktask,jdbcType=VARCHAR},
      weekpersonliable = #{weekpersonliable,jdbcType=VARCHAR},
      weekworkstarttime = #{weekworkstarttime,jdbcType=TIMESTAMP},
      weekworkfinishtime = #{weekworkfinishtime,jdbcType=TIMESTAMP},
      weekworkexplain = #{weekworkexplain,jdbcType=VARCHAR}
    where pk_s_dweekplane_t = #{pkSDweekplaneT,jdbcType=INTEGER}
  </update>
</mapper>