<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yongyou.iSupport.dao.UserDao" >
  <resultMap id="BaseResultMap" type="com.yongyou.iSupport.entity.User" >
    <id column="pk_user" property="pk_user" jdbcType="INTEGER" />
    <result column="usercode" property="usercode" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="INTEGER" />
    <result column="usertype" property="usertype" jdbcType="INTEGER" />
    <result column="usercnname" property="usercnname" jdbcType="INTEGER" />
    <result column="userphone" property="userphone" jdbcType="INTEGER" />
    <result column="useremail" property="useremail" jdbcType="INTEGER" />
    <result column="usersex" property="usersex" jdbcType="INTEGER" />
    <result column="userarea" property="userarea" jdbcType="INTEGER" />
    <result column="userdept" property="userdept" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    pk_user, usercode, password, username,usertype,usercnname,usercnname,userphone,useremail,usersex,userarea,userdept
  </sql>
  
  
<!--通过用户名与密码查找用户 -->
<select id="selectByNameAndPwd" parameterType="com.yongyou.iSupport.entity.User" resultMap="BaseResultMap">
	SELECT 
	*
	FROM is_b_user
	WHERE
	username = #{username,jdbcType=VARCHAR} AND password = #{password,jdbcType=VARCHAR}
</select>


<select id="selectByUserCode" parameterType="com.yongyou.iSupport.entity.User" resultMap="BaseResultMap">
	SELECT 
	*
	FROM is_b_user
	WHERE
	usercode = #{usercode,jdbcType=VARCHAR}
</select>


  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_t
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_t
    where id = #{id,jdbcType=INTEGER}
  </delete>
<!--   插入用户 -->
<!--   <insert id="insertUser" parameterType="com.yongyou.iSupport.entity.User" > -->
<!--     insert into user_t (pk_user, username, password, usercnname,userphone,useremail,userarea,userdept,usersex) -->
<!--     values (#{pk_user,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{usercnname,jdbcType=VARCHAR},  -->
<!--        #{userphone,jdbcType=VARCHAR}, #{userphone,jdbcType=VARCHAR}, #{useremail,jdbcType=VARCHAR},#{userarea,jdbcType=INTEGER} -->
<!--        ,#{userdept,jdbcType=INTEGER},#{usersex,jdbcType=INTEGER}) -->
<!--   </insert> -->
  
  <insert id="insertUser" parameterType="com.yongyou.iSupport.entity.User" >
    insert into is_b_user (usercode, password, 
      username, usertype, usercnname, 
      userphone, useremail, usersex, 
      userarea, userdept 
      )
    values (#{usercode,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{username,jdbcType=VARCHAR}, #{usertype,jdbcType=VARCHAR}, #{usercnname,jdbcType=VARCHAR}, 
      #{userphone,jdbcType=VARCHAR}, #{useremail,jdbcType=VARCHAR}, #{usersex,jdbcType=VARCHAR}, 
      #{userarea,jdbcType=VARCHAR}, #{userdept,jdbcType=VARCHAR}
      )
  </insert>
  
  
  
  
  <insert id="insertSelective" parameterType="com.yongyou.iSupport.entity.User" >
    insert into user_t
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="age != null" >
        age,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yongyou.iSupport.entity.User" >
    update user_t
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yongyou.iSupport.entity.User" >
    update user_t
    set user_name = #{userName,jdbcType=VARCHAR},
    password = #{password,jdbcType=VARCHAR},
    age = #{age,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>