<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yongyou.iSupport.dao.UserDao" >
  <resultMap id="BaseResultMap" type="com.yongyou.iSupport.entity.User" >
    <id column="pk_user" property="pk_user" jdbcType="INTEGER" />
    <result column="usercode" property="usercode" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="usertype" property="usertype" jdbcType="VARCHAR" />
    <result column="usercnname" property="usercnname" jdbcType="VARCHAR" />
    <result column="userphone" property="userphone" jdbcType="VARCHAR" />
    <result column="useremail" property="useremail" jdbcType="VARCHAR" />
    <result column="usersex" property="usersex" jdbcType="VARCHAR" />
    <result column="userarea" property="userarea" jdbcType="VARCHAR" />
    <result column="userdept" property="userdept" jdbcType="VARCHAR" />
    <result column="def1" property="def1" jdbcType="VARCHAR" />
    <result column="def2" property="def2" jdbcType="VARCHAR" />
    <result column="def3" property="def3" jdbcType="VARCHAR" />
    <result column="def4" property="def4" jdbcType="VARCHAR" />
    <result column="def5" property="def5" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    pk_user, usercode, password, username, usertype, usercnname, userphone, useremail, 
    usersex, userarea, userdept, def1, def2, def3, def4, def5
  </sql>
  
  
<!--通过用户名与密码查找用户 -->
<select id="selectByNameAndPwd" parameterType="com.yongyou.iSupport.entity.User" resultMap="BaseResultMap">
	SELECT 
	*
	FROM is_b_user
	WHERE
	username = #{username,jdbcType=VARCHAR} AND password = #{password,jdbcType=VARCHAR}
</select>


<select id="selectByUserCode" parameterType="com.yongyou.iSupport.entity.User" resultMap="BaseResultMap">
	SELECT 
	*
	FROM is_b_user
	WHERE
	usercode = #{usercode,jdbcType=VARCHAR}
</select>


  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_t
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_t
    where id = #{id,jdbcType=INTEGER}
  </delete>
<!--   插入用户 -->
<!--   <insert id="insertUser" parameterType="com.yongyou.iSupport.entity.User" > -->
<!--     insert into user_t (pk_user, username, password, usercnname,userphone,useremail,userarea,userdept,usersex) -->
<!--     values (#{pk_user,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{usercnname,jdbcType=VARCHAR},  -->
<!--        #{userphone,jdbcType=VARCHAR}, #{userphone,jdbcType=VARCHAR}, #{useremail,jdbcType=VARCHAR},#{userarea,jdbcType=INTEGER} -->
<!--        ,#{userdept,jdbcType=INTEGER},#{usersex,jdbcType=INTEGER}) -->
<!--   </insert> -->
  
  <insert id="insertUser" parameterType="com.yongyou.iSupport.entity.User" >
    insert into is_b_user (usercode, password, 
      username, usertype, usercnname, 
      userphone, useremail, usersex, 
      userarea, userdept ,def1, 
      def2, def3, def4, def5
      )
    values (#{usercode,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{username,jdbcType=VARCHAR}, #{usertype,jdbcType=VARCHAR}, #{usercnname,jdbcType=VARCHAR}, 
      #{userphone,jdbcType=VARCHAR}, #{useremail,jdbcType=VARCHAR}, #{usersex,jdbcType=VARCHAR}, 
      #{userarea,jdbcType=VARCHAR}, #{userdept,jdbcType=VARCHAR}, #{def1,jdbcType=VARCHAR}, 
      #{def2,jdbcType=VARCHAR}, #{def3,jdbcType=VARCHAR}, #{def4,jdbcType=VARCHAR}, #{def5,jdbcType=VARCHAR}
      )
  </insert>
  
  
  
  
  <insert id="insertSelective" parameterType="com.yongyou.iSupport.entity.User" >
    insert into user_t
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="age != null" >
        age,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yongyou.iSupport.entity.User" >
    update user_t
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yongyou.iSupport.entity.User" >
    update is_b_user
    set 
    usercode = #{usercode,jdbcType=VARCHAR},
    username = #{username,jdbcType=VARCHAR},
    password = #{password,jdbcType=VARCHAR},
    usertype = #{usertype,jdbcType=VARCHAR},
    usercnname = #{usercnname,jdbcType=VARCHAR},
    userphone = #{userphone,jdbcType=VARCHAR},
    useremail = #{useremail,jdbcType=VARCHAR},
    usersex = #{usersex,jdbcType=VARCHAR},
    userarea = #{userarea,jdbcType=VARCHAR},
    userdept = #{userdept,jdbcType=VARCHAR},
    def1 = #{def1,jdbcType=VARCHAR},
    def2 = #{def2,jdbcType=VARCHAR},
    def3 = #{def3,jdbcType=VARCHAR},
    def4 = #{def4,jdbcType=VARCHAR},
    def5 = #{def5,jdbcType=VARCHAR}
    where pk_user = #{pk_user,jdbcType=INTEGER}
  </update>
  
  <select id="findList" resultMap="BaseResultMap" parameterType="com.yongyou.iSupport.entity.User">
  	SELECT
  	<include refid="Base_Column_List"/>
  	FROM is_b_user
  	<where>
  		<if test="pk_user!=null">
  			AND pk_user=#{pk_user}
  		</if>
  		<if	test="usercode!=null and usercode!=''">
  			AND usercode LIKE
  			concat('%',#{usercode},'%')
  		</if>
  		<if	test="usertype!=null and usertype!=''">
  			AND usertype LIKE
  			concat('%',#{usertype},'%')
  		</if>
  		<if	test="usercnname!=null and usercnname!=''">
  			AND usercnname LIKE
  			concat('%',#{usercnname},'%')
  		</if>
  		<if	test="userarea!=null and userarea!=''">
  			AND userarea LIKE
  			concat('%',#{userarea},'%')
  		</if>
  		<if	test="usersex!=null and usersex!=''">
  			AND usersex LIKE
  			concat('%',#{usersex},'%')
  		</if>
  	</where>
  </select>
</mapper>